{% extends 'app/base.html'%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/ramos.css' %}">
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block contenido %}

<div class="ramos">
    <h1>Eliminar Articulo</h1>

    <br/>
    <form method="POST">
        {% csrf_token %}
    <strong>¿Estas seguro?</strong><br/>
    <small>Esta acción es irreversible</small><br/>
    <button>Eliminar</button>
      
    
    </form>
</div>

{% endblock %}