{% extends 'app/base.html'%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/ramos.css' %}">
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block contenido %}

<div class="ramos">
    <h1>Editar Articulo</h1>

    <table>
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_table }}
    </table>
    <button>Actualizar</button>
      
    
    </form>
</div>

{% endblock %}