{% extends 'app/base.html'%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/ramos.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/agate.min.css">
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      extensions: ["tex2jax.js"],
      "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] },
      tex2jax: { inlineMath: [ ["\(", "\)"], ["\\(","\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
      TeX: { noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } } },
      messageStyle: "none"
    });
</script>    
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js"></script>
{% endblock %}

{% block contenido %}

<div class="ramos">

</div>

<div class="sec2">
    <h1>Artículos Recientes</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'create' %}">Añadir</a>
    {% endif %}
    </br>
    <ul>
        {% for post in object_list %}
        <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
        {% if user.is_authenticated %}
             - (<a href="{% url 'edit' post.pk %}">Editar</a> - <a href="{% url 'delete' post.pk %}">Eliminar</a>)
        {% endif %}
        <br/>
        <small>{{ post.category }}</small><br/>
        {{ post.prev|safe }}<br/>
        </li>
        {% endfor %}
    </ul>
    <br/>
</div>

{% endblock %}

