@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
	background: rgb(0, 0, 0);
	height: 100vh;
	justify-content: center;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background:#250a63;
}
body::-webkit-scrollbar-thumb {
  background: #fc6a13;
}

/*BACK2TOP*/

.b2t{
  background-color: #fc6a13;
  color: white;
  position: fixed;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}
.b2t:hover {
  cursor: pointer;
  background-color: #bb4e0f;
}
.b2t:active {
  background-color: #fc6a13;
}

/*NAVBAR*/

nav{
  background: #250a63;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  top: 0px;
  width: 100%;
  z-index: 99;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 2px 2px 2px rgba(34, 15, 9, 0);
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s
}
nav .nav-items li a:hover{
  color: #bb4e0f;
}
nav .nav-items li a:active{
  color: #fc6a13;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #17063d;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid #3a5170;
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #fc6a13;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background .3s
}
nav form button:hover{
  background: #bb4e0f
  ;
}
nav form button:active{
  background: #fc6a13
  ;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: #bb4e0f;
  padding: 0 5px 0 0;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}

/*BACKGROUND*/

.fullscreen-bg {
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -100;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px) opacity(50%);
}
.fullscreen-bg__video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/*SECTION 1*/

.container1{
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.logoimg {
  position: absolute;
  top: 50%;
  left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: -290px 0 0 -200px;
  z-index: 0;
}
.logoimg img {
	/*filter: grayscale();*/
	max-width: 400px;
  width: 100%;
  height: auto;
	border-radius: 50%;
	border: 6px solid whitesmoke;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
	/*transition: filter 0.4s ease-in-out;*/
}
/*.logoimg:hover img {
	filter: none;
}*/
.logoimg svg {
  position: absolute;
  display: block;
  margin: auto;
  top: 20%;
  height: 46.6%;
  left: 25%;
  width: 50%;
  transform: scale(2.8);
}
.title {
  top: -98px;
  text-align: center;
  position: relative;
	font-weight: 700;
	font-size: 5rem;
  cursor: default;
  color: #FFFFFF;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 2px 2px 2px rgba(206,89,55,0);
}
.logoimg:hover .title::after {
	width: 100%;
	left: 0;
}
.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(70%);
	  margin: 0 auto;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -500;
  stroke-width: 8px;
  fill: transparent;
  stroke: #FFFFFF;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.svg-wrapper:hover .shape {
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke-dasharray: 820;
}
.scroll-down {
  height: 50px;
  width: 80px;
  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  margin: 0px 0 0 -40px
}
.scroll-down:hover {
  transform: scale(1.1) perspective(1px);
  transition: transform 0.4s ease-in-out;
}
.fa-angle-down {
  bottom: -12px;
  left: 15px;
  position: absolute;
  display: flex;
  color: white;
  font-size: 70px;
  margin: 0px 0 0 0px
}

/*SECTION 2*/

.container2 {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

/*MEDIA RESPONSIVE*/

@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #3a5170;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #250a63;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #250a63;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
  .logoimg {
    margin: -220px 0 0 -160px;
  }
  .logoimg img {
    max-width: 320px;
  }
  .logoimg svg {
    transform: scale(2.8);
  }
  .b2t{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
  .scroll-down {
    height: 40px;
    width: 64px;
    margin: 0px 0 0 -32px
  }
  .fa-angle-down {
    bottom: -10px;
    left: 13px;
    font-size: 56px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}

